/* Lower footer */
#content-sans-footer {
    margin-bottom: -38px;
}
#push {
    height: 38px;
}
ul.footer-content {
    height: 20px;
}

/* Lower tags in Landing page */
.tags-in-index li {
    font-size: 0.8em;
    line-height: 22px;
}

.tags-in-index a {
    margin: 1px 2px;
    padding: 2px 4px;
}
