/* Lower footer */
#content-sans-footer {
    margin-bottom: -38px;
}
#push {
    height: 38px;
}
ul.footer-content {
    height: 20px;
}

/* Lower tags in Landing page */
.tags-in-index li {
    font-size: 0.8em;
    line-height: 22px;
}

.tags-in-index a {
    margin: 1px 2px;
    padding: 2px 4px;
}

/* Social links beside About me */
div.aboutme-social-container {
    display: block;
    clear: both;
}

div.aboutme-social-links {
    float: left;
    display: inline-block;
}

i.aboutme-social-links {
    border-radius: 20%;
    border: solid transparent 1px;
    color: #777777;
    font-size: 1.3em;
    margin: 0;
    padding: 1px;
    text-align: center;
    text-decoration: none;
}
i.aboutme-social-links:hover {
    background-color: #777777;
    color: #fff;
}
